@import url("http://db.onlinewebfonts.com/c/51e35a1ffb5e3b1585fa96a24179dd52?family=Circe");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.title {
  font-family: 'Circe';
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #24242E;
}

@media (max-width: 768px) {
  .title {
    font-size: calc(27px + (40 - 27) * ((100vw - 320px) / (1400 - 320)));
  }
}

.subtitle {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}

@media (max-width: 620px) {
  .subtitle {
    font-size: calc(13px + (24 - 13) * ((100vw - 320px) / (1400 - 320)));
  }
}

.header {
  background-image: url("img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.header__section {
  width: 90%;
  padding-top: 11px;
  padding-bottom: 172px;
}

.header__main {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.header__content {
  margin-top: 80px;
}

.header__title {
  max-width: 605px;
  font-family: 'Circe';
  font-weight: normal;
  font-size: 40px;
  line-height: 137%;
  color: #24242E;
}

@media (max-width: 768px) {
  .header__title {
    font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1400 - 320)));
    width: 85%;
  }
}

.header__subtitle {
  margin-top: 20px;
  font-family: 'Circe';
  font-size: 18px;
  line-height: 27px;
  color: #24242E;
  line-height: 137%;
}

@media (max-width: 768px) {
  .header__subtitle {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1400 - 320)));
    width: 50%;
  }
}

.header__icons2 {
  margin-top: 4px;
  max-width: 817px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

@media (min-width: 376px) {
  .header__icons2 {
    display: none;
  }
}

.header__icons {
  margin-top: 4px;
  max-width: 817px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 122px;
}

@media (max-width: 376px) {
  .header__icons {
    display: none;
  }
}

.header__arrow {
  position: absolute;
  left: 47%;
  bottom: 19px;
}

@media (min-width: 376px) {
  .header__arrow {
    display: none;
  }
}

.sqareButton2 {
  width: 263px;
  height: 69px;
  background: #1E489B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-family: 'Circe';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

@media (max-width: 376px) {
  .sqareButton2 {
    display: none;
  }
}

.sqareButton2:hover {
  background: #6984bb;
}

.hover__title {
  color: #1E489B;
  font-weight: bold;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1252px) {
  .navbar {
    display: none;
  }
}

.navbar__logo {
  padding-right: 78px;
  text-decoration: none;
}

.navbar__block {
  list-style: none;
}

.navbar__item {
  margin-left: 20px;
}

.navbar__link {
  font-family: 'Circe';
  font-weight: bold;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #24242E;
  padding-top: 26px;
}

.navbar__link:hover {
  border-top: 4px solid #1E489B;
}

.navbar__minilink {
  font-family: 'Circe';
  font-size: 14px;
  line-height: 21px;
  color: #1E489B;
  text-decoration: none;
  margin-left: auto;
  margin-right: 0;
}

.navbar2 {
  background-color: white;
  padding: 16px 0 16px 0;
}

.navbar2__content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar2__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.navbar2__block {
  list-style: none;
}

.navbar2__item {
  margin-left: 20px;
}

.navbar2__minilink {
  font-family: 'Circe';
  font-size: 14px;
  line-height: 21px;
  color: #1E489B;
  text-decoration: none;
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 1252px) {
  .navbar2 {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logoText {
  font-family: 'Exo 2';
  font-weight: normal;
  font-size: 9.6px;
  line-height: 110%;
  color: #24242E;
  text-decoration: none;
}

.tel {
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #24242E;
  text-decoration: none;
}

.tel2 {
  font-family: 'Exo 2';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  text-align: center;
  border-bottom: none;
}

.phone {
  margin-left: 129px;
  text-align: right;
}

.blockIcon__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.blockIcon__icon {
  margin-right: 10px;
}

.blockIcon__text {
  max-width: 165px;
  font-family: 'Circe';
  font-size: 15px;
  line-height: 110%;
  color: #24242E;
}

.sqareButton {
  width: 263px;
  height: 69px;
  background: #1E489B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-family: 'Circe';
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.sqareButton:hover {
  background: #6984bb;
}
/*# sourceMappingURL=style.css.map */